.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.cart-item-img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.cart-item-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.cart-item-name {
    flex: 2;
    font-size: 1rem;
    color: #050505;
    font-weight: 600;
}

.cart-item-price,
.cart-item-qty,
.cart-item-subtotal {
    flex: 1;
    text-align: center;
    color: #050505;
}

.btn-remove-item {
    background-color: #d9534f;
    color: white;
    height: 30px;
    border: none;
    border-radius: 6px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-remove-item:hover {
    background-color: #c9302c;
}