.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #050505;
    background-color: #fffaed;
}

.error-icon {
    font-size: 5rem;
    color: #050505;
    margin-bottom: 1rem;
}

.error-message {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-back-from-error {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: #a398c1;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 10px auto;
    transition: 0.3s ease;
}

.btn-back-from-error:hover {
    background-color: #8e85b0;
}
