.section-item-detail {
    font-family: 'Poppins', sans-serif;
    background-color: #fffaed;
    display: flex;
    flex-direction: column;
}

.btn-back-to-home {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
    background-color: transparent;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border: none;
    color: #050505;
    cursor: pointer;
    margin: 1rem 0 0 2rem;
}

.btn-arrow-icon {
    color: #050505;
    font-size: 1rem;
}

.item-detail {
    color: #050505;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 4rem;
    gap: 5rem;
}

.item-info {
    display: flex;
    align-items: center;
    padding-right: 9.375rem;    
}

.item-detail-img {
    background-color: white;
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    object-fit: cover;
    justify-self: center;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-right: 6rem;
}

.item-detail-img:hover {
    transform: scale(1.1);
}

.item-detail-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: left;
}

.item-detail-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #7A9E7E;
}

.item-detail-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #050505;
}

.item-detail-price {
    font-size: 1.3rem;
    font-weight: 600;
    color: #050505;
}

.section-item-detail .btn-primary {
    width: fit-content;
    justify-self: center;
    margin: 0;
}

.item-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}