.item-list-container {
    font-family: 'poppins', sans-serif;
    background-color: #fffaed;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-list-container h1 {
    padding: 10px;
}

.item-list-container h2 {
    padding: 10px;
}