.invalid-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    text-align: center;
    padding: 2rem 1rem;
}

.invalid-product h2 {
    font-family: 'Poppins', sans-serif;
    color: #050505;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 14px;
}

.btn-primary {
    display: inline-block;
}

.item-detail-error .fetch-error-message {
    font-family: 'poppins', sans-serif;
    background-color: #fffaed;
    color: #050505;
    text-align: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 20px;
    margin-top: 71px;
}

.error-icon {
    font-size: 5rem;
    color: #050505;
    align-self: center;
    margin-bottom: 1rem;
}

.fetch-error-message h2 {
    font-size: 1.7rem;
    margin-bottom: 0.75rem;
}

.fetch-error-message p {
    font-size: 1.1rem;
    margin: 0;
}